---
export interface Props {
title: string;
body: string;
href: string;
}

const { href, title, body } = Astro.props;
---


<div class="wrapper bg-transparent antialiased text-gray-100">
    <div>
        <picture class="w-full object-cover object-center rounded-lg shadow-md">
            <img src="https://source.unsplash.com/random/350x350" alt=" random imgee" class="rounded-lg">
        </picture>

        <div class="relative px-2">
            <div class="flex flex-col bg-primary py-6 px-0 rounded-lg shadow-lg pt-4 gap-y-2 ">
                <h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">A random Title</h4>
                <div class="flex items-baseline gap-2">
				  {[...Array(3).keys()].map((i) => (
                    <span class="bg-gray-400 text-gray-900 text-xs px-2 inline-block rounded-full  uppercase font-semibold tracking-wide">
                        New
                      </span>
                    ))}
                </div>
                <div class="mt-1">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci.
                </div>
                <div class="mt-2">
                    <span class="text-sm text-gray-600">(based on 234 ratings)</span>
                </div>
            </div>
        </div>

    </div>
</div>


