
<footer class="bg-primary sm:p-6 dark:bg-gray-900">
    <div class="md:flex flex-col md:justify-center items-center">
        <div class="py-4 md:mb-0 flex justify-center">
            <a href="https://flowbite.com/" class="flex items-center">
                <img src="/icons/irveloper-logo.svg" class="object-cover h-full w-10 radius-10" alt="Irveloper Logo"/>
                <span class="text-2xl text-white">
                    IRVING CAAMAL
                </span>
            </a>
        </div>
        <div class="py-4 md:mb-0 flex justify-center">
            <a href="mailto:contact@irvingcaamal.com" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-2/3">
                contact@irvingcaamal.com
            </a>
        </div>
    </div>
    <hr class="border-gray-900 sm:mx-auto dark:border-gray-700" />
    <div class="flex items-center justify-center mt-6">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2023 <a href="https://flowbite.com/" class="hover:underline">Made with ♥️</a> by Irving Caamal.
        </span>
    </div>
</footer>
