---
import GlobalNavMobile from './GlobalNavMobile'
---
<nav class="bg-darkblue text-gray-100 border-gray-200 px-5 sm:px-10 z-10 md:px-10 py-2.5 dark:bg-gray-900 flex">
    <div class="container flex items-center justify-between">
        <a href="/" class="flex items-center">
            <img src="/icons/IrvingCaamalIcon.svg" class="object-cover w-30 h-20 radius-10" alt="Irveloper Logo"/>
        </a>
    </div>
    <GlobalNavMobile client:load />
</nav>
