---
export interface Props {
title: string;
body: string;
href: string;
}

const { title, description, icon } = Astro.props;
---

<span class="bg-red-600">
    <img
            src={icon}
            alt={description}
            class="object-cover p-0"
    >
</span>