---
export interface Props {
title: string;
body: string;
href: string;
}

const { href, title, body } = Astro.props;
---

<span class="bg-red-600">
    <img
            src="https://res.cloudinary.com/dybzxgodg/image/upload/v1678263773/Utils/development/icons/JS_iqomrb.svg"
            alt="Logo"
            class="object-cover p-2"
    >
</span>