---
import Layout from '../layouts/Layout.astro';
import Card from '../components/shared/Card.astro';
import Skill from '../components/shared/Skill.astro';
import HeroBanner from '../components/shared/HeroBanner.astro';
import ContactForm from '../components/shared/ContactForm.astro';
import ProjectList from '../components/domain/homepage/ProjectList.jsx'
import { technologiesList } from '../utils/__mocks__/data.tsx';
---

<Layout title="Welcome to Irveloper's website">
    <!--    HeroBanner-->
    <div class="w-full container">
        <div class="">
            <HeroBanner/>
        </div>
        <div class="flex flex-col justify-center items-center bg-primary  md:mx-auto py-12 px-5" id="about-me">
            <div class="container flex flex-col  items-center justify-center">
                <h2 class="text-3xl text-white">About Me</h2>
                <p class="text-lg text-gray-400 pt-6">
                    Software Engineer, with +6 years of experience, developing software products and solutions in B2B and B2C industries, working with backend and frontend.
                </p>
            </div>
        </div>
        <section class="w-full flex flex-col justify-center items-center bg-secondary px-0  mx-auto px-8">
            <header class="flex justify-center items-center flex flex-col gap-2">
                <h2 class="text-3xl text-white">My Preferred Stack</h2>
                <p>
                    Tools and technologies that I enjoy most
                </p>
            </header>
            <div class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-8  md:flex-row gap-4 pt-6">
                {technologiesList.map((item) => (
                <div class="flex-grow" key={item.title}>
                    <button className="p-4 bg-red-50">
                        <Skill

                                title={item.title}
                                description="I have solid knowledge on the frontend with Vue.js and React.js and even JQuery."
                                icon="https://res.cloudinary.com/dybzxgodg/image/upload/v1678262715/irveloper/personal/profile.png"
                        />
                    </button>
                </div>
                ))}
            </div>
        </section>
       <ProjectList client:load/>
        <ContactForm/>
    </div>
</Layout>
